<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
   <servlet>  
        <servlet-name>dd</servlet-name>  
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
        <!--     <init-param>-->  
        <!--         <param-name>contextConfigLocation</param-name>-->  
        <!--         <param-value>/WEB-INF/applicationContext.xml</param-value>-->  
        <!--             </init-param>-->  
    </servlet>  
    <!--  
        applicationContext.xml文件代表示应用程序服务的配置和 bean 配置。如果想装入多个配置文件，可以在  
        <param-value>标记中用逗号作分隔符。  
        springmvc配置文件与spring配置的servlet名称有关[如本配置中是dd]  
        通常springmvc配置文件名称结构为：[servlet-name]-servlet.xml，  
        如果你没有指定init-param里面contextCofigLocation的值中对应的XML文件的话  
        （也就是applicationContext全局配置文件没有配置在web.xml中的话）,那么像本  
        段代码对应在springmvc中的配置文件就应该是/WEB-INF/dipatcher-servlet.xml这样的文件,  
        否则如果配置了applicaitonContext.xml这样的spring全局配置文件，如本配置那么就必须为/WEB-INF/dd-servlet.xml  
    -->  
    <servlet-mapping>  
        <servlet-name>dd</servlet-name>  
        <url-pattern>*.do</url-pattern>  
    </servlet-mapping>  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
